<div class="race-form-container">
  <mat-card class="race-form-card">
    <mat-card-title *ngIf="!this.isEditMode" class="padding-left-2vw">Create Race</mat-card-title>
    <mat-card-title *ngIf="this.isEditMode" class="padding-left-2vw">Update Race</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="submit()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Race Name</mat-label>
          <input matInput [(ngModel)]="race.name" name="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Distance</mat-label>
          <mat-select [(ngModel)]="race.distance" name="distance" required>
            <mat-option value="FIVE_K">5K</mat-option>
            <mat-option value="TEN_K">10K</mat-option>
            <mat-option value="HALF_MARATHON">HalfMarathon</mat-option>
            <mat-option value="MARATHON">Marathon</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="actions">
          <button mat-raised-button color="primary" type="submit" *ngIf="!this.isEditMode">Create Race</button>
          <button mat-raised-button color="primary" type="submit" *ngIf="this.isEditMode">Update Race</button>
          <button mat-button (click)="router.navigate(['/races'])">Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

  
